@import '@solana/wallet-adapter-react-ui/styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional custom styles below */

/* Theme variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Body styles */
body {
  font-family: 'Inter', sans-serif;
  @apply bg-black text-bobyellow;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  @apply text-yellow-400;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-down {
  animation: slide-down 0.3s ease-out;
}